{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Edit Post</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" autocomplete="off">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Post Content</label>
            <textarea style="height:200px" class="form-control" name="content" id="content"></textarea>
        </div>
        <a href="/users/{{ post.users.id }}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>

{% endblock %}